/* portfolio.css */

footer{ font-size: 0.9em; margin: 3em 0;}
div#nav{
margin: 2em 0; 
}
div#nav a {
    text-decoration: none;
}
div#nav img{
    width: 30px;
    padding: 15px;
    background-color:gray ;
    margin: 0 4px;
    border-radius: 10px;
}
div#case{
    width: 90%;
    max-width: 600px;
    text-align: left;
    margin: 1em auto;
    line-height: 1.6em;
}
div#case p b {
    color: orange;
}
div#case p  {
    color: wheat;
}