 
h1#unique{text-align: center;padding: 0px 0px 40px; font-family: "colombo" }
        h2.subheader{text-align: left;font-weight:100; text-decoration: underline; text-align: }
        div#content{width: 80%;max-width: 750px;margin: 1em auto;line-height: 160%;background-color:lightyellow;font-family:"bodoni";padding: 0.75in 1in;border: 10px yellowgreen solid}
        img.right{width:300px;float: right;margin: 0px 0px 10px 5px; padding: 0px 0px 0px 10px}
        img.left{width: 300px;;float: left;margin: 0px 5px 10px 0px;padding: 0px 10px 10px 0px}
        body{font-size: 110%;background-color: black;background: url(earf.jpg); background-position:top}
        img#middle{width: 500px; padding-left: 125px
        }
        